<template>
  <v-main class="pa-4 mt-5">
    <v-row class="justify-center" no-gutters>
      <v-col>

        <v-card outlined>
          <v-card-title primary-title>
            <span class="text-h5 font-weight-bold"> Listado de invitados </span>
            <v-spacer></v-spacer>
            <v-btn color="secondary" dark small fab class="mx-1" @click="iniciarLectorQR()">
              <v-icon >mdi-qrcode-scan</v-icon> 
            </v-btn>
            <v-btn color="primary" dark fab small  class="mr-2" @click="init()">  <v-icon>mdi-refresh</v-icon> </v-btn>
          </v-card-title>
        
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="search"
                  label="Buscar Invitado"
                  dense
                  hide-details
                  append-icon="mdi-magnify" 
                  outlined
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                <v-data-table
                  :headers="headers"
                  :items="listaInvitados"
                  :search="search"
                  :height="tamanioPantalla"
                  fixed-header
                  hide-default-footer
                  :disable-pagination="true"
                  dense
                >

                <template v-slot:item.estatus="{ item }">
                  <span v-if="item.confirmo== 1"   class="green--text"> {{ item.estatus }} </span>
                  <span v-if="item.confirmo== 0"   class="red--text"> {{ item.estatus }} </span>
                </template>

                <template v-slot:item.action="{ item }" > 
                  <v-btn  class="info" icon dark @click="mostrarAsignacion(item)"><v-icon> mdi-seat </v-icon></v-btn> <!-- Editar -->
                </template>

              </v-data-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>

        <v-dialog v-model="modalCamara" persistent height="500px">
          <v-card class="pa-3">
            <v-card-text class="text-center font-weight-black text-subtitle"> Coloque su QR en la pantalla</v-card-text>
            <v-card-text>
              <video ref="video" width="100%"  autoplay></video>
            </v-card-text>
            <v-card-actions> 
              <v-btn block color="error" @click="modalCamara = false">Cerrar ventana</v-btn> 
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="modalAsignacion" persistent width="500px">
          <v-card class="pa-4">
            <v-card-actions class="py-0" >
              <h4> <strong> Asignación </strong></h4> 
              <v-spacer></v-spacer>
              <v-btn color="error" x-small @click="modalAsignacion = false" fab><v-icon>clear</v-icon></v-btn>
            </v-card-actions>

            <v-row class=" py-0">
              <v-col cols="12" class="text-center">
                <v-card-text>  <strong> {{ asignacion.nombre }} </strong>  </v-card-text>
              </v-col>

              <v-col cols="6" >
                <v-card class="primary" outlined height="100%">
                  <v-card class="pa-4 text-overline text-center primary--text" outlined height="100%">
                    Mesa <br>{{  asignacion.mesa }}                  
                  </v-card>
                </v-card>
              </v-col>

              <v-col cols="6" >
                <v-card class="primary" outlined height="100%" >
                  <v-card class="pa-4 text-overline text-center primary--text" outlined height="100%">
                    Asiento<br> {{  asignacion.asiento }}               
                  </v-card>
                </v-card>
              </v-col>

              <v-col cols="6"  v-if="asignacion.mesa_acompaniante">
                <v-card class="primary" outlined height="100%">
                  <v-card class="pa-4 text-overline text-center primary--text" outlined height="100%">
                    Mesa Invitado <br>{{  asignacion.mesa_acompaniante }}     
                  </v-card>
                </v-card>
              </v-col>

              <v-col cols="6"  v-if="asignacion.asiento_acompaniante">
                <v-card class="primary" outlined height="100%">
                  <v-card class="pa-4 text-overline text-center primary--text" outlined height="100%">
                    Asiento Invitado <br>{{  asignacion.asiento_acompaniante }}  
                  </v-card>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
        </v-dialog>

      </v-col>
    </v-row>
  </v-main>
  
</template>

<script>
  import  metodos from '@/mixins/metodos.js';
  import jsQR from 'jsqr';

  export default {
    mixins:[metodos],

    data () {
      return {
        search: '',
        stream: null,
        modalCamara: false,
        modalAsignacion: false,
        asignacion: {},
        headers: [
          // { text: '#', align: 'start', sortable: false,  value: 'id', },
          { text: 'Nombre'  , value: 'nombre' },
          { text: 'Estatus' , value: 'estatus' },
          { text: 'Acceso'  , value: 'contrasenia' },
          { text: 'Confirmo', value: 'fecha_confirmo' },
          { text: ''        , value: 'action', sortable: false },


        ],
        listaInvitados: [],
        // camaraFrontal:'user',
        // camaraTrasera:'environment'
      }
    }, 

    created(){
      if(!this.$route.params.invitado){  window.history.go(-1); } // SI NO OBTENGO LA INFORMACION 
      this.init();   
    },

    methods: {
      init(){
        this.$http.post('obtener_lista_invitados').then(response =>{
          this.listaInvitados = response.body
        }).catch(error =>{
          console.log('error', error);
        })
      },

      async iniciarLectorQR() {
        console.log('lector');
        try {
          if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
            console.error('El navegador no admite la captura de video.');
            return;
          }
          this.modalCamara = true;
          const stream = await navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } });
          this.$refs.video.srcObject = stream;
          this.stream = stream;
          this.detectarQR();
        } catch (error) {
          console.error('Error al iniciar la cámara:', error);
        }
      },

      detectarQR() {
          const canvas = document.createElement('canvas');
          const video = this.$refs.video;
          const context = canvas.getContext('2d');

          const frame = () => {
            if (this.stream) {
              context.drawImage(video, 0, 0, canvas.width, canvas.height);
              const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
              const qrCode = jsQR(imageData.data, imageData.width, imageData.height);
              if (qrCode) {
                console.log('Código QR detectado:', qrCode.data);
                this.capturarRecepcion(qrCode.data)
                // this.capturarRecepcion(123454343)

                // Aquí puedes hacer algo con los datos del código QR, como procesarlos o mostrarlos en la interfaz de usuario
              } else {
                requestAnimationFrame(frame);
              }
            }
          };
          frame();
        },

      capturarRecepcion(qr){
        this.modalCamara = false;
        this.$http.post('capturar_recepcion', {qr:qr}).then( response =>{
          console.log('response', response.body);
          this.mostrarAsignacion(response.body[0])
        }).catch(error =>{
          console.log('error', error);
          alert(error.body.msg)
        })
      },

      mostrarAsignacion(item){
        console.log('item', item);
        this.asignacion = {
          nombre: item.nombre,
          mesa  : item.mesa,
          asiento: item.asiento,
          mesa_acompaniante: item.mesa_acompaniante,
          asiento_acompaniante: item.asiento_acompaniante
        };
        this.modalAsignacion = true;

      }

    },

      beforeDestroy() {
        if (this.stream) {
          const tracks = this.stream.getTracks();
          tracks.forEach(track => track.stop());
        }
      },


  }
</script>