<template>
  <div >
    <!-- <Navigation :isTransparent="isNavigationTransparent" /> -->
    <Banner /> 
    <Contador/>
    <Ceremonia/>
    <Regalo/>
    <Requisitos/>
    <Celebracion/>
    <Nosotros/>
    <Confirmacion/> 
    
    <!-- <ProductsSection :products="products" /> -->
    <!-- <ParallaxSection/> -->
    <!-- <PastelesLineaSection/> -->
    <!-- <Footer :socialIcons="socialIcons" :contactNumbers="contactNumbers" :location="location" /> -->
  </div>
</template>

<script>
  import {mapActions , mapGetters} from 'vuex'

  import scrollRevealMixin from '@/mixins/scrollRevealMixin';

  import Vue from 'vue';
  import Vuex from 'vuex';
  import Navigation from '@/components/navegacion.vue';
  import Banner from '@/components/bannerSeccion.vue';
  import Contador from '@/components/contador.vue';
  import Ceremonia from '@/components/ceremonia.vue';
  import Celebracion from '@/components/celebracion.vue';
  import Regalo from '@/components/regalo.vue';
  import Nosotros from '@/components/nosotros.vue';
  import Confirmacion from '@/components/confirmacion.vue';
  import Requisitos from '@/components/requisitos.vue';


// import ProductsSection from '@/components/productosSeccion.vue';
// import ParallaxSection from '@/components/parallaxSeccion.vue';
// import PastelesLineaSection from '@/components/pastelesLineaSeccion.vue';
// import Footer from '@/components/footer.vue';

Vue.use(Vuex);

export default {
  mixins: [scrollRevealMixin],
  components: {
    Navigation,
    Banner,
    Contador,
    Ceremonia,
    Celebracion,
    Regalo,
    Nosotros,
    Confirmacion,
    Requisitos
    // ProductsSection,
    // ParallaxSection,
    // PastelesLineaSection,
    // Footer
  },
  data() {
    return {
      isNavigationTransparent: true,
      products: [
        { name: 'Product 1', price: '$10' },
        { name: 'Product 2', price: '$15' },
        { name: 'Product 3', price: '$20' }
      ],
      socialIcons: ['mdi-facebook', 'mdi-twitter', 'mdi-instagram'],
      contactNumbers: ['123456789', '987654321'],
      location: '123 Main St, City'
    };
  },

  created(){
      if(!this.$route.params.invitado){  window.history.go(-1); } // SI NO OBTENGO LA INFORMACION 
      this.guardarSesionInvitado(this.$route.params.invitado);
      localStorage.setItem('sesion', JSON.stringify(this.$route.params.invitado));
    },

  mounted() {
    //  'top': Inicia la animación desde la parte superior.
    // 'bottom': Inicia la animación desde la parte inferior.
    // 'left': Inicia la animación desde la izquierda.
    // 'right': Inicia la animación desde la derecha.
    // 'center': Inicia la animación desde el centro.
    // 'top left': Inicia la animación desde la esquina superior izquierda.
    // 'top right': Inicia la animación desde la esquina superior derecha.
    // 'bottom left': Inicia la animación desde la esquina inferior izquierda.
    // 'bottom right': Inicia la animación desde la esquina inferior derecha.
    // 'left top': Inicia la animación desde la esquina superior izquierda.
    // 'left bottom': Inicia la animación desde la esquina inferior izquierda.
    // 'right top': Inicia la animación desde la esquina superior derecha.
    // 'right bottom': Inicia la animación desde la esquina inferior derecha.
    this.revealElement('.titulo-banner'           , { origin: 'bottom', distance: '-100px', duration: 3500 });
    // this.revealElement('.titulo-contador'         , { origin: 'right' , distance: '400px' , duration: 3500 });
    this.revealElement('.titulo-contador'         , { origin: 'bottom' , distance: '100px' , duration: 3500 });
    this.revealElement('.contador'                , { origin: 'left'  , distance: '200px' , duration: 3500 });
    this.revealElement('.content-ceremonia'       , { origin: 'top'   , distance: '-200px', duration: 3500 });
    this.revealElement('.content-regalo'          , { origin: 'bottom', distance: '-200px', duration: 3500 });
    this.revealElement('.content-celebracion'     , { origin: 'top'   , distance: '-200px', duration: 3500 });
    this.revealElement('.content-nosotros'        , { origin: 'bottom', distance: '-200px', duration: 3500 });
    this.revealElement('.img-a, .img-b'           , { origin: 'left'  , distance: '200px', duration: 3500 });
    this.revealElement('.img-c, .img-d, .img-e'   , { origin: 'left' , distance: '30px', duration: 3500 });
    this.revealElement('.img-f'                   , { origin: 'top'   , distance: '-200px', duration: 3500 });
    this.revealElement('.titulo-confirmacion'     , { origin: 'left', distance: '100px', duration: 3500 });
    this.revealElement('.content-confirmacion, .fecha-limite, .audio', { origin: 'bottom' , distance: '100px' , duration: 3500 });
    this.revealElement('.btn-1, .btn-3'           , { origin: 'left'  , distance: '200px', duration: 3500 });
    this.revealElement('.btn-2, .btn-4'           , { origin: 'top'  , distance: '-200px', duration: 3500 });
    this.revealElement('.content-requisitos'                , { origin: 'left'  , distance: '200px' , duration: 3500 });
  },

  methods: {
    ...mapActions(['guardarSesionInvitado']),

  },

};
</script>
