<template>
  <div class="parallax-image">
    <v-row no-gutters>
      <v-col cols="12" class="text-center titulo-banner">
        <div class="text-center noscasamos">  Nos Casamos ! </div>
        <div class="text-center kye">  Karen & Edgar </div><br>
        <div class="text-center fecha">  25 / 05 / 24 </div>
      </v-col>
    </v-row>
  </div>

</template>

<script>
  import  metodos from '@/mixins/metodos.js';
  // import ScrollReveal from 'scrollreveal';
  // import 'scrollreveal/dist/scrollreveal.min.css'; // Agrega los estilos si es necesario

  export default {
    mixins:[metodos],
    data() {
      return {
      };
    },
    mounted() {
      // const config = {
      //   origin: 'bottom', // Origen de la animación (parte inferior)
      //   distance: '-100px', // Distancia de la animación
      //   duration: 3000, // Duración en milisegundos
      //   // delay: 300, // Retraso en milisegundos
      //   // easing: 'cubic-bezier(0.5, 0, 0, 1)', // Función de aceleración
      //   reset: true

      // };
      // ScrollReveal().reveal('.titulo-banner', config);
      // this.$scrollReveal.reveal('.titulo-banner', config);

    },
    methods: {

    }
  };

</script>

<style>

  .parallax-image {
    /* background: linear-gradient(rgba(0, 0, 0, 0.605), rgba(0, 0, 0, 0.313)), url('~@/assets/banner1.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.605), rgba(0, 0, 0, 0.313)), url('~@/assets/nosotros1.jpg');
    /* background: linear-gradient(rgba(0, 0, 0, 0.393), rgba(0, 0, 0, 0.105)), url('~@/assets/banner1.jpg'); */
    background-size: 100% 100% ;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 945px;    
  }
  
  .kye {
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color:  white; /* Opcional: Cambiar el color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }

  .fecha{
    font-family: 'Great Vibes', cursive;
    font-size: 15px;
    color:  white; /* Opcional: Cambiar el color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }

    /* Estilo de cursiva estilo invitación */
  .noscasamos {
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    color:  white; /* Opcional: Cambiar el color del texto */

  }

  /* Media queries para diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
  .kye {
    font-size: 60px; 
  }
}

@media screen and (max-width: 768px) {
  .noscasamos {
    font-size: 100px; 
  }
}

@media screen and (max-width: 600px) {
  .kye {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .noscasamos {
    font-size: 60px;
  }
}

.vertical-transition {
  transition: transform 0.3s ease-in-out; /* Ajusta la duración y la función de transición según desees */
}

</style>
