<template>
  <v-main class="pa-4 mt-5">
    <v-row justify="center" class="content-celebracion">

      <v-col cols="12" class="text-center ">
        <v-img 
          :src="celebracion" 
          height="60px" 
          class="white"
          contain
        />
        <v-card-text >
          <div class="titulo-ceremonia pa-2"> Celebración </div>
          <div class="leyenda-ceremonia py-2">TE ESPERAMOS EL </div>
        </v-card-text>
      </v-col>
      
      <v-col cols="12" class="text-center py-0">
        <v-card class="d-flex align-center justify-center" flat>
          <div class="d-flex align-center">
            <span class=" text-h5 pa-5 ">25 MAYO </span>
            <v-divider vertical class="mx-2 black"></v-divider>
            <span class=" text-h5 pa-5 ">20:00 P.M.</span>
          </div>
        </v-card>
      </v-col>
    </v-row>

  </v-main>
</template>

<script>
  import  metodos from '@/mixins/metodos.js';

  export default {
    mixins:[metodos],
    data() {
      return {
        celebracion: require('@/assets/salud.png'),
      };
    },

    methods: {
    }
  };
</script>

<style>

  .titulo-celebracion{
    font-family: 'Great Vibes', cursive;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  */
    font-size: 50px;
    color: #c49f58 ;
  }

  .leyenda-celebracion{
    font-family: 'Time New Roman';
    font-size: 20px;
  }

</style>
