<template>
  <v-main class="pa-4 mt-8">
    <v-row justify="center" class="content-ceremonia">

      
      <v-col cols="12" class="text-center">
        <v-img 
          :src="ceremonia" 
          height="60px" 
          class="white"
          contain
        />
        <v-card-text >
          <div class="titulo-ceremonia pa-2"> Ceremonia Civil </div>
          <div class="leyenda-ceremonia py-1">TE ESPERAMOS EL </div>
        </v-card-text>
      </v-col>
      
      <v-col cols="12" class="text-center py-0">
        <v-card class="d-flex align-center justify-center" flat>
          <div class="d-flex align-center">
            <span class=" text-h5 pa-5 ">25 MAYO </span>
            <v-divider vertical class="mx-2 black"></v-divider>
            <span class=" text-h5 pa-5 ">19:00 P.M.</span>
          </div>
        </v-card>
      </v-col>
      
      <v-col cols="12" class="text-center">
        <v-btn class="ubicacion"  tile dark large   @click="openMaps()">
          Ver Ubicación
        </v-btn>
      </v-col>

   
    </v-row>
  </v-main>
</template>

<script>
  import  metodos from '@/mixins/metodos.js';

  export default {
    mixins:[metodos],
    data() {
      return {
        ceremonia: require('@/assets/anillos-de-boda.png'),
        // ubicacion: require('@/assets/ubicacion.png')
      };
    },

    methods: {
      openMaps() {
        // Abre Google Maps con la dirección
        const direccion = 'Reforma 1013, Centro, 64000 Monterrey, N.L.';
        const url = `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(direccion)}`;
        window.open(url, '_blank');
      },
    }
  };
</script>

<style>

  .ubicacion{
    background-color:#c49f58 !important;
    text-transform: none;
  }

  /* .btn-cronometro{
    background-color:#c49f58 !important;
  } */

  .titulo-ceremonia{
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Great Vibes', cursive;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  */
    font-size: 50px;
    color:#c49f58;
  }

  .leyenda-ceremonia{
    font-family: 'Time New Roman';
    font-size: 15px;
  }
</style>
