<template>
  <v-main fluid>
    <v-row no-gutters>

      <v-col cols="12 mt-8" class="text-center">
        <div class="titulo-confirmacion"> Confirmación </div>
      </v-col>

      <v-col class="text-center pa-4">
        <v-card class="shadowCard">
          <v-card-text class="content-confirmacion"> 
            Un mensaje especialmente para ti <br> <strong> {{ invitado.nombre }} </strong>
          </v-card-text>

          <audio controls :src="audioURL" ref="reproductor" class="audio" ></audio>

          <v-card-text class="primary--text" v-if="QR == ''">
            ¿ Vas hacer parte de está historia ? , Confirma tú asistencia antes del <strong> 1 de Mayo del 2024</strong>
            y unete a la celebración.
          </v-card-text>
          
        <v-card class="ma-1" outlined tile v-if="QR == ''">
          <v-expansion-panels
            v-model="panel"
            :disabled="disabled"
            flat
          >
            <v-expansion-panel  >
              <v-expansion-panel-header>Instrucciones</v-expansion-panel-header>
              <v-expansion-panel-content class="instrucciones black--text">
                <v-card-text class="instrucciones black--text pa-0" v-if="invitado.acompaniante">
                  Tú cuentas con una invitación para dos personas. Si llevaras a tú acompañante selecciona la opción  de 
                  <strong> "llevaré 1 acompañante" </strong> si prefies asistir tú solo entonces selecciona <strong> "ire solo"</strong> 
                  y si crees no poder asistir selecciona <strong> "No iré" </strong> 
                </v-card-text>
                <v-card-text class="instrucciones black--text pa-0" v-if="!invitado.acompaniante">
                  Tú cuentas con una invitación personal. Si podrás acompañarnos en este gran día entonces selecciona 
                  <strong>Porsupuesto que si iré</strong> pero si crees no poder acompañarnos selecciona <strong> "No iré" </strong> 
                </v-card-text>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
            

          <v-row  class="pa-3" justify="center" v-if="QR == ''">
            <v-col cols="6" sm="3" class="btn-1">
              <v-card class="pa-4 py-1 tarjetas"  dark ripple @click="validarRespuesta(1)">
                <v-card-text>
                  <v-icon large>{{icons[1]}} </v-icon>
                  <div class="texto-botones">No iré</div>
                </v-card-text>
              </v-card>
         
            </v-col>

            <v-col cols="6" sm="3" class="btn-2" v-if="invitado.acompaniante">
              <v-card class="pa- py-1 tarjetas"  dark ripple @click="validarRespuesta(2)">
                <v-card-text>
                  <v-icon large >{{icons[2]}}</v-icon>
                  <div class="texto-botones">Iré solo</div>
                </v-card-text>
              </v-card>
            </v-col>

            <v-col cols="6" sm="3" class="btn-3" v-if="invitado.acompaniante">
              <v-card class="pa-4 py-1 tarjetas"  dark ripple @click="validarRespuesta(3)">
                <v-card-text>
                  <v-icon x-large>{{icons[3]}}</v-icon>
                  <div class="texto-botones">Llevaré 1 acompañante</div>
                </v-card-text>
              </v-card>
            </v-col>

            <v-col cols="6" sm="3" class="btn-4" v-if="!invitado.acompaniante">
              <v-card class="pa- py-1 tarjetas"  dark ripple @click="validarRespuesta(4)">
                <v-card-text>
                  <v-icon x-large>{{icons[4]}}</v-icon>
                  <div class="texto-botones">Porsupuesto que si iré</div>
                </v-card-text>
              </v-card>
            </v-col>

          </v-row>
          <br/>

          <v-row v-if="QR !=''" justify="center">
            <v-col cols="12">
                <v-card-text class="content-qr"> 
                  Descarga este código y guárdalo, ya que es único y te dará acceso a nuestra increíble boda.
                </v-card-text>
                <div>
                  <img :src="QR" alt="QR Code" id="QRCodeImage" ref="QRCodeImage" crossOrigin="anonymous" />
                </div>
            </v-col>

            <v-col cols="6" sm="3" class="text-center" v-if="mostrarBotonDescarga">
                <v-btn @click="descargarPDF()" fab class="primary">
                  <v-icon large>mdi-download</v-icon>
                </v-btn>
            </v-col>
          </v-row>
  
        </v-card>
      </v-col>

      <v-dialog v-model="modalConfirmación" scrollable persistent transition="dialog-bottom-transition" max-width="500px">
        <v-card justify="center">
          <v-card-text class="text-center pa-0 py-0">
            <v-avatar size="80"> <v-icon x-large color="grey">{{ icon }}</v-icon></v-avatar>
          </v-card-text>
          <v-card-text style="min-height: 200px; max-height: 350px;" class="pa-4 mensaje text-center" v-html="mensaje"/>
          <v-divider></v-divider>
          <v-card-actions>
            <v-btn color="red " dark tile @click="modalConfirmación = false"> No estoy seguro </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" text class="font-weight-bold" v-if="evento==1" @click="noIre()"> Confirmar</v-btn>
            <v-btn color="primary" text class="font-weight-bold" v-if="evento==2" @click="ireSolo()"> Confirmar</v-btn>
            <v-btn color="primary" text class="font-weight-bold" v-if="evento==3" @click="siIre()"> Confirmar</v-btn>
            <v-btn color="primary" text class="font-weight-bold" v-if="evento==4" @click="siIre()"> Confirmar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="modalAgradecimiento" persistent transition="dialog-bottom-transition" max-width="500px">
        <v-card justify="center">
          <v-card-text class="text-center pa-4 ">
              <img :src="logo" width="125">
          </v-card-text>
          <v-card-text style="height: 180px;" class="pa-4 mensaje-confirmacion text-center" >
            Muchas gracias <br>por tú confirmación
          </v-card-text>
          <v-card-text class="text-center">
          <v-btn color="primary" large dark fab @click="cerrrarSesión()" v-if="evento == 1"> OK </v-btn>
          <v-btn color="primary" large dark fab @click="mostrarQR()" v-else> OK </v-btn>
        </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>
  </v-main>
</template>

<script>
  const CryptoJS = require("crypto-js");

  // import invitados from '@/invitados.json'; // Importa tu archivo JSON
  import  metodos from '@/mixins/metodos.js';
  import {mapActions , mapGetters} from 'vuex'
  import jsPDF from 'jspdf';
  // import html2canvas from 'html2canvas';

  export default {
    // components: {
    //   QrcodeVue
    // },
    mixins:[metodos],
    data() {
      return {
        // audioURL: require('@/assets/notas_voz/emproblemado.mp3'),
        audioURL: '',
        invitado:{},
        QR:'',
        mostrarBotonDescarga: false,
        modalAgradecimiento:false,
        icons:['','mdi-emoticon-sad','mdi-account-heart','mdi-dance-ballroom','mdi-dance-pole'],
        icon: '',
        evento: 0,
        mensaje:'',
        modalConfirmación: false,
        logo: require('@/assets/KYE-logo.png'),
        panel: 1,
        disabled: false,
        readonly: false
      };
    },
    computed: {
      ...mapGetters(['obtenerSesionInvitado', 'obtenerInvitados']),

      qrCodeImageUrl() {
        if (this.text) {
          const baseUrl = 'https://api.qrserver.com/v1/create-qr-code/';
          return `${baseUrl}?size=200x200&data=${encodeURIComponent(this.text)}`;
        }
        return '';
      }
    },
    created(){
      this.invitado = this.obtenerSesionInvitado;
      
      if(this.invitado.confirmo == 1){
        this.mostrarQR();
      }

      let audioInvitado = this.invitado.notaVoz;
      this.audioURL = require(`@/assets/notas_voz/${audioInvitado}.mp3`);
    },

    methods: {
      ...mapActions(['actualizarDatos']),

      validarRespuesta(evento){
        if(!this.invitado) return;  

        let diasRestantes = this.obtenerDíasRestantes(); // Obtenemos dias restantes a la fecha de confirmación
        this.icon = this.icons[evento]; // Obtenemos el icono a mostrar.
        this.evento = evento ;

        switch (evento) {
          case 1:
            this.mensaje = `¿Estás completamente seguro(a) de no poder acompañarnos esta noche? ${
              diasRestantes > 0
                ? `${diasRestantes == 1
                    ? 'Aún resta 1 día para la fecha límite de confirmación.'
                    : `Aún restan ${diasRestantes} días para la fecha límite de confirmación.`
                  }`
                : '.'
            }`;
            break;
          case 2:
            this.mensaje = `En tu viaje hacia mi boda, recuerda que la mejor compañía es la tuya. Aunque vengas solo, 
                            tu presencia llenará el día de alegría y risas. <br><br>¡Será un día inolvidable para todos nosotros!`;
            break;
          case 3:
            this.mensaje = `¡Será genial verte en la boda! Estamos ansiosos de conocer a tu increíble 
                            pareja y compartir juntos un día lleno de alegría y celebración. <br><br>¡Nos vemos en la pista de baile y que la fiesta no pare!`;
            break;
          case 4:
            this.mensaje = `¡Listo para la boda del año! Ve preparando los prohibidos.<br><br>
                            ¡Nos vemos en la pista de baile para celebrar juntos este día tan especial!`;
            break;
          default:
            break;
        }
        this.modalConfirmación = true;
      },

      noIre(){
        this.modalConfirmación = false;
        
        const payload = {
          id: this.invitado.id,
          confirmo: 1,
          ire_solo: 0,
          asistira: 0,
          no_asistira: 1,
          qr:this.generarCodigoUnico()
        }
        
        this.confirmarInvitacion(payload);
      },

      ireSolo(){
        this.modalConfirmación = false;
        
        const payload = {
          id: this.invitado.id,
          confirmo: 1,
          ire_solo: 1,
          asistira: 1,
          no_asistira: 0,
          qr:this.generarCodigoUnico()
        }

        this.confirmarInvitacion(payload);
      },

      siIre(){
        this.modalConfirmación = false;
        
        const payload = {
          id: this.invitado.id,
          confirmo: 1,
          ire_solo: 0,
          asistira: 1,
          no_asistira: 0,
          qr:this.generarCodigoUnico()
        }

        this.confirmarInvitacion(payload);
      },

      confirmarInvitacion(payload){
        this.$http.post('confirmacion_invitado', payload).then(response =>{
          console.log('response', response);
          this.modalAgradecimiento = true;
          this.actualizarDatos(response.body)
        }).catch(error =>{
          console.log('error', error);
        })
      },

      mostrarQR(){
        const baseUrl = 'https://api.qrserver.com/v1/create-qr-code/';
        let QR = this.invitado.qr;
        this.QR = `${baseUrl}?size=200x200&data=${encodeURIComponent(QR)}`;
        this.mostrarBotonDescarga = true; // Agregamos esta línea para controlar la visibilidad del botón de descarga
        this.modalConfirmación = false;
        this.modalAgradecimiento = false;
      },

      async descargarPDF() {
        const elementoQR = this.$refs.QRCodeImage;
        const pdfWidth = 300; // Ancho del PDF
        const pdfHeight = 450; // Alto del PDF
        const margin = 12; // Márgenes

        // Crear el objeto jsPDF con orientación vertical
        const pdf = new jsPDF('p', 'pt', [pdfWidth, pdfHeight]);

        // Calcular la posición central
        const centerX = (pdfWidth - elementoQR.width) / 2;
        // const centerY = (pdfHeight - elementoQR.height) / 2;

        // Agregar imagen adicional al PDF
        const imgPath = require('@/assets/KYE-logo.png'); // Ruta de la imagen
        const imgWidth = 100; // Ancho de la imagen en el PDF
        const imgHeight = 100; // Alto de la imagen en el PDF
        const imgX = (pdfWidth - imgWidth) / 2; // Centrar horizontalmente
        const imgY = 10; // Colocar en la parte inferior

        pdf.addImage(imgPath, 'JPEG', imgX, imgY, imgWidth, imgHeight);
        pdf.setFont('courier'); // Tipo de letra
        pdf.setFontSize(14); // Tamaño de letra

        
        const textoPrincipal = `Gracias por confirmar`; // Agregar texto principal centrado en la parte superior
        const linesPrincipal = pdf.splitTextToSize(textoPrincipal, pdfWidth - 2 * margin); // Dividir el texto principal en líneas para asegurar que se ajuste correctamente
        let textYPrincipal = imgY + imgHeight + 10;

        // Agregar cada línea del texto principal al PDF
        linesPrincipal.forEach(line => {
          const textWidth = pdf.getStringUnitWidth(line) * pdf.internal.getFontSize();
          const textX = (pdfWidth - textWidth) / 2;
          pdf.text(line, textX, textYPrincipal);
          textYPrincipal += 12; // Ajustar según el tamaño de letra
        });

        // Agregar texto secundario debajo del principal
        const textoSecundario = `Guarda este código ya que es único. Preséntalo el día del evento.`;
        const linesSecundario = pdf.splitTextToSize(textoSecundario, pdfWidth - 2 * margin);
        let textYSecundario = textYPrincipal + 10; // Espaciado desde el texto principal

        // Agregar cada línea del texto secundario al PDF
        linesSecundario.forEach(line => {
          const textWidth = pdf.getStringUnitWidth(line) * pdf.internal.getFontSize();
          const textY = (pdfWidth - textWidth) / 2;
          pdf.text(line, textY, textYSecundario);
          textYSecundario += 12; // Ajustar según el tamaño de letra
        });
        // Agregar la imagen QR centrada
        pdf.addImage(elementoQR.src, 'JPEG', centerX, textYSecundario + 10, elementoQR.width, elementoQR.height);

        pdf.save('QR_Code.pdf');
      },

      generarCodigoUnico(){
        let inv = this.invitado
        const cadenaUnica = inv.nombre + inv.mesa + inv.asiento+ inv.acompaniante;
        const hash = CryptoJS.SHA256(cadenaUnica).toString(CryptoJS.enc.Hex);
        const codigoUnico = hash.substring(0, 10); // Puedes ajustar la longitud según tus necesidades
        return codigoUnico;
      },

      cerrrarSesión(){
        this.$router.push({ name:'sesion' }) ;
      }
    }
  }
</script>

<style>
  .tarjetas{
    background: linear-gradient(#f4d08d, #e3bd77 ,#c69c4c);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titulo-confirmacion {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    color: #c49f58 ;
  }

  .content-confirmacion{
    font-family: 'Time New Roman';
    font-size: 18px;
    text-align: center;
  }

  .content-qr{
    /* font-family: 'Time New Roman'; */
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    text-align: center;
  }

  .texto-botones {
    font-family: 'Time New Roman';
    font-size: 13px;
    margin-top: 5px;
    color: white;
    text-shadow: 2px 2px 4px rgba(37, 36, 32, 0.271); 
  }

  .mensaje-confirmacion{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-top: 5px;
    color: white;
    line-height: 1;
  }

  .mensaje{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-top: 5px;
    color: white;
    line-height: 1; 
    /* text-shadow: 2px 2px 4px rgba(37, 36, 32, 0.271);  */
  }

  .instrucciones{
    text-align: justify;
  }

</style>
