<template>
  <v-main class="pa-4 mt-2">
    <v-row justify="center">

      <!-- <v-col cols="12" class="text-center  titulo-contador"> 
        <div class="titulo-cronometro"> Estás Invitado ! </div>
        <div class="leyenda-cronometro mt-3"> Queremos que seas parte de este momento tan especial.</div>
      </v-col>  -->

      
      <v-col cols="12" class="text-center  titulo-contador">
        <v-card-text> 
          <div class="titulo-cronometro">  Estás Invitado !  </div>
          <div class="leyenda-cronometro py-3"> QUEREMOS QUE SEAS PARTE DE ESTE MOMENTO TAN ESPECIAL.</div>  
        </v-card-text>
      </v-col>

      <!-- <v-col cols="12" class="text-center titulo-contador">
        <v-card flat>
          <v-btn class="btn-cronometro" dark fab > <strong>{{ dias }}</strong> </v-btn> <br>
          <div class="mt-2 texto-cronometro">Días</div>
        </v-card>
      </v-col> -->

      <v-col cols="3" class="text-center contador py-0">
        <v-card flat>
          <v-btn class="btn-cronometro" dark fab > <strong>{{ dias }}</strong> </v-btn> <br>
          <div class="mt-2 texto-cronometro">Días</div>
        </v-card>
      </v-col>

      <v-col cols="3" class="text-center contador py-0">
        <v-card flat>
          <v-btn class="btn-cronometro" dark fab > <strong>{{ horas }}</strong> </v-btn> <br>
          <div class="mt-2 texto-cronometro">Horas</div>
        </v-card>
      </v-col>

      <v-col cols="3" class="text-center contador py-0">
        <v-card flat>
          <v-btn class="btn-cronometro" dark fab > <strong>{{ minutos }}</strong> </v-btn> <br>
          <div class="mt-2 texto-cronometro">Minutos</div>
        </v-card>
      </v-col>

      <v-col cols="3" class="text-center contador py-0">
        <v-card flat>
          <v-btn class="btn-cronometro" dark fab > <strong>{{ segundos }}</strong> </v-btn> <br>
          <div class="mt-2 texto-cronometro">Segundos</div>
        </v-card>
      </v-col>
   
    </v-row>
  </v-main>
</template>

<script>
  import  metodos from '@/mixins/metodos.js';
  // import ScrollReveal from 'scrollreveal';

  export default {
    mixins:[metodos],
    data() {
      return {
        countdownDate: new Date('2024-05-25T00:00:00').getTime(),
        dias: 0,
        horas: 0,
        minutos: 0,
        segundos: 0
      };
    },
    mounted() {
      this.updateCountdown();
      setInterval(this.updateCountdown, 1000);
    },

    methods: {
      updateCountdown() {
        const now = new Date().getTime();
        const distance = this.countdownDate - now;

        if (distance > 0) {
          this.dias = Math.floor(distance / (1000 * 60 * 60 * 24));
          this.horas = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          this.minutos = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          this.segundos = Math.floor((distance % (1000 * 60)) / 1000);
        } else {
          this.dias = this.horas = this.minutos = this.segundos = 0;
        }
      }
    }
  };
</script>

<style>
  .btn-cronometro{
    background-color:#c49f58 !important;
  } 

  .titulo-cronometro{
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  */
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color:#c49f58 

  }

  .leyenda-cronometro{
    font-family: 'Time New Roman';
    font-size: 15px;
  }

  .texto-cronometro{
    font-family: 'Time New Roman';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 25px;
  }

  @media screen and (max-width: 600px) {
  .texto-cronometro {
    font-size: 15px; /* Tamaño de letra para pantallas aún más pequeñas */
  }
}
</style>
