<template>
  <v-footer>
    <v-row>
      <v-col cols="12" md="4">
        <h3>Redes Sociales</h3>
        <v-btn icon><v-icon>mdi-facebook</v-icon></v-btn>
        <v-btn icon><v-icon>mdi-twitter</v-icon></v-btn>
        <v-btn icon><v-icon>mdi-instagram</v-icon></v-btn>
      </v-col>
      <v-col cols="12" md="4">
        <h3>Contacto</h3>
        <p>Número de teléfono: 123456789</p>
        <p>Correo electrónico: info@landingpage.com</p>
      </v-col>
      <v-col cols="12" md="4">
        <h3>Ubicación</h3>
        <p>Dirección de la empresa</p>
      </v-col>
    </v-row>
  </v-footer>
</template>

<!-- <script>
export default {};
</script> -->
