<template>
  <v-app-bar 
    :color="isTransparent ? 'transparent' : 'primary'" 
    app 
    elevation="0"
    height="80px"
  >
    <div >
      <v-img
        alt="Logotipo"
        class="shrink mr-2"
        contain
        src="logotipo.png"
        transition="scale-transition"
        width="60"
      />
    </div>
    <!-- <v-toolbar-title> Monchis Inc.</v-toolbar-title> -->
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-btn :dark="!isTransparent? true:false" text>Repostería</v-btn>
      <v-btn :dark="!isTransparent? true:false" text>Personalizado</v-btn>
      <v-btn :dark="!isTransparent? true:false" text>Contactanos</v-btn>
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
export default {
  data() {
    return {
      isTransparent: true
    };
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll() {
      this.isTransparent = window.scrollY === 0;
    }
  }
};
</script>

