<template>
  <v-main >
    <v-row no-gutters>

      <v-col cols="12 mt-8" class="text-center content-nosotros">
        <div class="titulo-nosotos"> Nosotros  </div>
      </v-col>

      <v-col cols="12" class="pa-0">
        <section class="photos ">
          <article class="gallery">
            <div class="img-a"> </div>
            <div class="img-b">  </div>
            <div class="img-c">  </div>
            <div class="img-d"> </div>
            <div class="img-e">  </div>
            <div class="img-f">  </div>
          </article>
        </section>
      </v-col>

    </v-row>
  </v-main>
</template>
<script>
import  metodos from '@/mixins/metodos.js';

export default {
  mixins:[metodos],
  data() {
    return {
      // fotoA: require('@/assets/nosotros1.jpg'),
      // fotoB: require('@/assets/nosotros2.jpg'),
      // fotoC: require('@/assets/nosotros3.jpg'),
      // fotoD: require('@/assets/nosotros4.jpg'),
      // fotoE: require('@/assets/nosotros5.jpg'),
      // fotoF: require('@/assets/nosotros6.jpg'),

      // ubicacion: require('@/assets/ubicacion.png')
    };
  },

  methods: {
  }
};
</script>

<style>

  .img-a{
    background-image: url('@/assets/nosotros7.jpg');
    background-position: 10% 80% ; /* 50% horizontalmente y 25% verticalmente */
  }
  .img-b{
    background-image: url('@/assets/nosotros5.jpg');
    background-position: 50% 90%;
  }
  .img-c{
    background-image: url('@/assets/nosotros9.jpg');
    background-position: 50% 50%;
  }
  .img-d{
    background-image: url('@/assets/nosotros4.jpg');
    background-position: 90% 50%
  }
  .img-e{
    background-image: url('@/assets/nosotros2.jpg');
    background-position: 60% 34%;
  }

  .img-f{
    background-image: url('@/assets/nosotros3.jpg');
    background-position: 100% 20%; /* 50% horizontalmente y 25% verticalmente */
  }

  .img-a, .img-b, .img-c, .img-d, .img-e, .img-f {
    background-size: cover; /*Escala la imagen para cubrir todo el contenedor sin distorsionarla
    /* object-fit: cover; Similar a background-size: cover pero para elementos <img> */
    display: flex; /* Utiliza el modelo de caja flexible para los elementos */
    align-items: center; /* Centra verticalmente el contenido del elemento en el eje transversal */
    justify-content: center; /* Centra horizontalmente el contenido del elemento en el eje principal */
    height: 100%; /* Establece la altura del elemento al 100% del tamaño de su contenedor */
    width: 100%; /* Establece el ancho del elemento al 100% del tamaño de su contenedor */
    height: 100%; /* (Esta línea es redundante y se puede eliminar) */
    border-radius: 10px; /* Aplica un borde redondeado al elemento */
  }

  section div img:hover{
    cursor: crosshair;
    opacity: 1;
    filter: contrast(120%);
  }

  .titulo-nosotos {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  */
    color: #c49f58 ;

  }
  .photos{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
  }

  .photos .gallery {
    /* max-width: 750px; */
    display: grid;
    grid-template-columns:  250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    grid-gap: 1rem;
  }
/* 
  .photos .gallery img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px ;
  } */

  .photos .gallery .img-a {
    grid-column: 1/3;
  }
  .photos .gallery .img-b {
    grid-row: 2/4;
  }

  .photos .gallery .img-f {
    grid-column: 2/4;
  }

  @media screen and (max-width: 790px) {
  .photos .gallery {
    display: grid;
    grid-template-columns:  115px 115px 115px;
    grid-template-rows: 115px 115px 115px;
    grid-gap: 1rem;
  }
}
</style>
