<template>

    <!-- <v-img 
      :src="celebracion" 
      height="100px" 
      contain
    /> -->
    <!-- <v-parallax class="custom-parallax">
      <div>
        <v-row>
          <v-col cols="12" class="text-center ">
            <div class="titulo-ceremonia"> Regalo <v-icon dark large>mdi-email-heart-outline</v-icon> </div>
            <div class="leyenda-regalo"> 
              Preferimos que los presentes que descen hacernos sean en efectivo 
              colocándolo en un sobre que podrán depositar el día de la celebración. 
            </div>
          </v-col>
        </v-row>
      </div>
    </v-parallax> -->

    <div class="custom-parallax">
      <v-row>
        <v-col cols="12" class="text-center">
          <div class="titulo-regalo"> Regalo  </div>
          <div class="leyenda-regalo pa-5"> 
            Preferimos que los presentes que descen hacernos sean en efectivo 
            colocándolo en un sobre que podrán depositar el día de la celebración. 
          </div>
        </v-col>
      </v-row>
    </div>
</template>

<script>
  import  metodos from '@/mixins/metodos.js';

  export default {
    mixins:[metodos],
    data() {
      return {
        celebracion: require('@/assets/sobre.png'),
        requisitos:[
          {id:1, titulo:'Ropa Formal Color Negro', icon:'mdi-face-man-shimmer' },
          {id:2, titulo:'Llegar puntual', icon:'mdi-clock-time-seven-outline' },
          {id:3, titulo:'Presentar Código de Acceso', icon:'mdi-qrcode-scan' },
          {id:4, titulo:'No niños', icon:'mdi-qrcode-scan' },
          {id:5, titulo:'Dispuestos a perder la conciencia', icon:'mdi-qrcode-scan' },

      ],

        modalRequisitos: false,
        // ubicacion: require('@/assets/ubicacion.png')
      };
    },

    methods: {
      verRequisitos() {
        // Abre Google Maps con la dirección
        // const direccion = 'Reforma 1013, Centro, 64000 Monterrey, N.L.';
        // const url = `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(direccion)}`;
        // window.open(url, '_blank');
      },
    }
  };
</script>

<style scoped>
  .custom-parallax {
      background: linear-gradient(to right, #c48158de,#c49e58aa, #c88b1aaa),url('~@/assets/fondo-arboles2.jpg') ;
      background-size: cover;
      background-position:  center; 
      background-attachment: fixed; 
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 500px;
  }
  .leyenda-regalo{
      font-family: 'Time New Roman';
      font-size: 20px;
      text-align: justify;
      color: #fff;
  }

  .titulo-regalo{
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Great Vibes', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 50px;
    color:#fff !important;
  }

</style>
