<template>
  <div class="pa-4">
    <v-row>
      <!-- <v-col class="text-center">
          <!-- <audio controls :src="audioURL" ref="reproductor"></audio> -->
      </v-col> -->

      <v-col cols="12" class="mt-10">
        <div class="text-center titulos-principales"> {{ sectionTitle  }}</div>
      </v-col>
      <v-col
        v-for="(item, i) in products"
        :key="i"
        cols="12"
        md="2"
        class="fade-in"
      >
          <v-card class="shadowCard lateral" height="100%">
            <!-- Descuento mostrado -->
            <v-btn 
              color="primary" 
              absolute
              top
              left
              class="v-btn--descuento text-caption"
              x-small
              rounded
              v-if="item.pjedesc > 0"
            >
              {{ item.pjedesc }}% Descuento
            </v-btn>

            <!-- Ver el artículo -->
            <v-btn 
              icon
              absolute
              top
              right
              class="v-btn--descuento text-caption"
              small
              rounded
              @click="ver(item)"
            >
              <v-icon color="green">mdi-eye</v-icon>
            </v-btn>

            <!-- <v-tooltip bottom >
              <template v-slot:activator="{ on, attrs }">
                <v-btn 
                  icon
                  absolute
                  top
                  right
                  class="v-btn--descuento text-caption mt-7"
                  small
                  rounded 
                  v-bind="attrs" 
                  v-on="on" 
                >
                  <v-icon color="red">mdi-heart</v-icon> 
                </v-btn>
              </template>
              <span>Añadir a lista de deseos</span>
            </v-tooltip> -->

            <!-- IMAGEN PRINCIPAL -->
            <v-img 
              :src="item.src" 
              height="300px" 
              v-if="item.foto"
              @click="ver(item)"
              class="white"
            >
            </v-img>
            
            <!-- SI NO HAY IMAGEN INCERTO DEFAULT-->
            <v-img 
              :src="item.src" 
              height="300px"
              v-else 
              @click="ver(item)" 
              color="secondary" 
            />

            <v-card-text class="pb-4">
              <v-row>
                <v-col cols="12" class="pb-0">
                  <span class="nombres-productos font-weight-bold">{{item.name}}</span>
                </v-col>
                <v-col cols="12" class="pt-0 pb-6">
                  <!-- Precio normal -->
                  <span v-if="item.pjedesc == 0">
                    <h4 class="primary--text mr-2 mb-0"> {{ item.precio1 | currency(2) }} MX </h4>
                  </span>
                  <!-- Precio con descuento -->
                  <span v-else class="primary--text mr-2 mb-0"> 
                    <h4 class="primary--text mr-2 mb-0">
                      {{ (item.precio1) - (item.pjedesc / 100) * (item.precio1 ) | currency(2) }} MX
                      <span class="text-decoration-line-through grey--text" v-if="item.pjedesc > 0"> 
                        ${{ item.precio1 }} 
                      </span>
                    </h4> 
                  </span>
                </v-col>
              </v-row>

              <!-- <v-btn 
                color="primary" 
                outlined
                absolute
                button
                right
                @click="agregar_a_carrito(item)"
                class="v-btn--example"
              >
                <v-icon>mdi-cart</v-icon>
              </v-btn> -->
            </v-card-text>
<!--           
            <v-card-actions class="subtitle-1 font-weight-bold secondary--text py-0" >
              
              <v-spacer></v-spacer>
            </v-card-actions> -->
          </v-card>

        <!-- Contenido de cada producto -->
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sectionTitle: 'Pasteles Personalizados',
      // audioURL: require('@/assets/Toma-mi-mano.mp3'),
      volumen: 0.1,
      products: [
        { name:'Producto 1' , src: require('@/assets/pastel1.jpg'), pjedesc:'20' ,precio1: '300' },
        { name:'Producto 2' , src: require('@/assets/pastel2.jpg'), pjedesc:'10' ,precio1: '670' },
        { name:'Producto 3' , src: require('@/assets/pastel3.jpg'), pjedesc:'40' ,precio1: '340' },
        { name:'Producto 4' , src: require('@/assets/pastel4.jpg'), pjedesc:'10' ,precio1: '150' },
        { name:'Producto 5' , src: require('@/assets/pastel5.jpg'), pjedesc:'40' ,precio1: '560' },
        { name:'Producto 6' , src: require('@/assets/pastel6.jpg'), pjedesc:'60' ,precio1: '680' },
        { name:'Producto 7' , src: require('@/assets/pastel1.jpg'), pjedesc:'20' ,precio1: '300' },
        { name:'Producto 8' , src: require('@/assets/pastel2.jpg'), pjedesc:'10' ,precio1: '670' },
        { name:'Producto 9' , src: require('@/assets/pastel3.jpg'), pjedesc:'40' ,precio1: '340' },
        { name:'Producto 10' , src: require('@/assets/pastel4.jpg'), pjedesc:'10' ,precio1: '150' },
        { name:'Producto 11' , src: require('@/assets/pastel5.jpg'), pjedesc:'40' ,precio1: '560' },
        { name:'Producto 12' , src: require('@/assets/pastel6.jpg'), pjedesc:'60' ,precio1: '680' },
      ]
    }
  },
  methods: {
    // reproducir() {
    //   this.$refs.reproductor.play().catch(error => {
    //     console.error('Error al reproducir la música:', error);
    //   });
    // },

    reproducir() {
      const reproductor = this.$refs.reproductor;
      reproductor.volume = this.volumen;
      reproductor.play().catch(error => {
        console.error('Error al reproducir la música:', error);
      });
    },

    pausar() {
      this.$refs.reproductor.pause();
    }
  }
};
</script>

<style scoped>
.fade-in {
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.lateral .v-btn--example {
    bottom: 0;
    position: absolute;
    margin: 0 0 16px 16px;
    padding: 0px !important;
    min-width: 50px !important;
  }

  .lateral .v-btn--descuento{
    bottom: 0;
    position: absolute;
    margin: 0 0 0px 0px;
    min-width: 50px !important;
    z-index: 1;
  }
  
  
  /* .font-pacifico {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
  } */

</style>
