<template>

  <div class="custom-parallax mt-8">
    <v-row no-gutters class="content-regalo">
      <v-col cols="12" class="text-center">
        <div class="titulo-regalo"> Regalo  </div>
        <div class="leyenda-regalo pa-5"> 
          Preferimos que los presentes que deseen hacernos sean en efectivo, 
          colocándolos en un sobre que podrán depositar el día de la celebración
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import  metodos from '@/mixins/metodos.js';

export default {
  mixins:[metodos],
  data() {
    return {
      // celebracion: require('@/assets/sobre.png'),
      // ubicacion: require('@/assets/ubicacion.png')
    };
  },

  methods: {
 
  }
};
</script>

<style scoped>
.custom-parallax {
    background: linear-gradient(to right, #c49e58e5,#c49e58e3, #c49e58f2),url('~@/assets/KyE3.png') ;
    background-size: cover;
    background-position:  center; 
    background-attachment: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.leyenda-regalo{
    font-family: 'Time New Roman';
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.titulo-regalo{
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Great Vibes', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 50px;
  color:#fff !important;
}

</style>
