<template>
  <v-main class="pa-4 mt-3">
    <v-row justify="center" class="content-requisitos">

      <v-col cols="12" class="text-center ">
        <v-card-text> 
          <div class="titulo-vestimenta"> Vestimenta</div>
          <div class="subtitulo-vestimenta py-3"> FORMAL <br>  TODO COLOR NEGRO <br> <div class="text-caption">(Ningun otro color)</div> </div>  
          <v-avatar size="80"   class="mx-2 "> <v-img :src="traje"></v-img> </v-avatar>
          <v-avatar size="80"   class="mx-2 "> <v-img :src="vestido"></v-img> </v-avatar> 
        </v-card-text>
      </v-col>

      <v-col cols="12" sm="4" class="text-center py-0">
        <v-img :src="fotoNovios"></v-img>
      </v-col>
      
      <v-col cols="12"  class="text-center ">
        <v-card-text> 
          <div class="subtitulo-vestimenta py-3"> NO NIÑOS </div>  
          <span class="descripcion-ninos">
            "¡Hola a todos! En nuestra boda queremos que todos puedan disfrutar de un trago sin restricciones. 
            Adoramos a sus hijos, pero creemos que necesitan una noche libre. Será solo para adultos.
          </span> 
        </v-card-text>
      </v-col>

<!--        
      <v-dialog 
        v-model="modalRequisitos" 
        persistent 
        width="500"
        transition="dialog-top-transition"
      >
        <v-card class="pa-4">
          <v-card-actions>
            <div class="font-weight-black text-h6 text-xs-subtitle-1 "> REQUISITOS  </div>
            <v-spacer></v-spacer>
            <v-btn color="error" fab small  @click="modalRequisitos=false"  ><v-icon>clear</v-icon></v-btn>
          </v-card-actions>

          <v-list  two-line>
            <v-list-item class="py-0" v-for="(item, i ) in requisitos" :key="i">
              <v-list-item-avatar > <v-btn fab tile class="caption"> {{ item.id }} </v-btn> </v-list-item-avatar>
              <v-list-item-content>
                <p class="subtitle-1 font-weight-bold"> {{ item.titulo }}</p>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon>
                  <v-icon large> {{ item.icon }}</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card>
      </v-dialog>  -->
   
    </v-row>

  </v-main>
</template>

<script>
  import  metodos from '@/mixins/metodos.js';

  export default {
    mixins:[metodos],
    data() {
      return {
        celebracion: require('@/assets/salud.png'),
        requisitos:[
          {id:1, titulo:'Ropa Formal Color Negro', icon:'mdi-account-tie' },
          {id:2, titulo:'Llegar puntual', icon:'mdi-clock-time-seven-outline' },
          {id:3, titulo:'Presentar Código de Acceso', icon:'mdi-qrcode-scan' },
          {id:4, titulo:'No niños', icon:'mdi-teddy-bear' },
          {id:5, titulo:'Dispuestos a perder la conciencia', icon:'mdi-glass-mug-variant' },
      ],

        modalRequisitos: false,
        traje: require('@/assets/Traje.png'),
        vestido: require('@/assets/Vestido.png'),
        fotoNovios: require('@/assets/novios.png')

      };
    },

    methods: {
    }
  };
</script>

<style>

  .titulo-vestimenta{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #c49f58 ;
  }

  .subtitulo-vestimenta{
    font-family: 'Time New Roman';
    font-size: 15px;
  }

  .descripcion-ninos{
    font-family: 'Time New Roman';
    font-size: 16px;
    
  }

</style>
